
<!DOCTYPE html>
<html>
<head>
  <title>Image Gallery</title>
</head>
<body>

    IMAGE GALLERY

</body>
</html>

<style>
    body {
      background-image: url('https://i.postimg.cc/FzXk64MS/pexels-piccinng-3075993.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>


<img src="https://i.postimg.cc/XJHv00Bq/pexels-mike-b-170811.jpg" alt="New Car" style="margin: 100px 100px 100px 120px;">
<img src="https://i.postimg.cc/FzXk64MS/pexels-piccinng-3075993.jpg" style="margin: 100px 100px 100px 150px;" >
<img src="https://i.postimg.cc/Jzp7XLKq/pexels-mike-b-112460.jpg" alt="New Car" style="margin: 100px 100px 100px 150px;">



